In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Bainbridge_Departures_Master.csv", parse_dates = ["timestamps"], index_col = "timestamps")

In [4]:
df.head()

,departure_terminal,arrival_terminal,scheduled_departure,actual_departure,Actual_Arrival,TransitTime,seconds_late
timestamps,,,,,,,
2013-01-01 00:55:00,Bainbridge,Colman,55:00.0,05:56.0,37:37.0,32.0,656.000000
2013-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,642.509434
2013-01-01 01:05:00,NaN,NaN,NaN,NaN,NaN,NaN,629.018868
2013-01-01 01:10:00,NaN,NaN,NaN,NaN,NaN,NaN,615.528302
2013-01-01 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,602.037736

## Want a csv file with one week of Bainbridge Departures in 2013

I am choosing the week of Sunday, January 6, 2013 - Saturday, January 12, 2019

In [16]:
#df = pd.read_csv("Bainbridge_Departures_2013_Interpolated.csv", parse_dates = ["timestamps"], index_col = "timestamps")

In [17]:
#df["2013-01-06":"2013-01-12"].to_csv("One_Week_Jan2013_Interpolated.csv")

# Combining the `csv`'s in the `Step 2 - Seconds Late` into one large interpolated dataframe with 5 minute frequency

In [21]:
import os
import pandas as pd

dataframes = []

for filename in os.listdir("Step 2 - Seconds Late"):
    dataframes.append(pd.read_csv("Step 2 - Seconds Late/%s" % (filename), parse_dates = [0], index_col=0))

mergedDf = pd.concat(dataframes)
mergedDf.index.name ="timestamps"
mergedDf = mergedDf.asfreq('5min')
mergedDf["seconds_late"] = mergedDf["seconds_late"].interpolate()
mergedDf.to_csv("Bainbridge_Departures_Master.csv")