## File 1: 2001 - 2006

Monday, January 1, 2000

In [3]:
import pandas as pd
import numpy as np

laptop_file_path = 'C:/Users/Keith/Google Drive/H Drive Full Backup/Fall 2018/CS 495 - Senior Seminar/Ferry Data/P000413-090518_2001-2006.csv'
dataset = pd.read_csv(laptop_file_path)

In [4]:
dataset.head(10)

,departure_terminal,arrival_terminal,scheduled_departure,actual_departure,Actual_Arrival,TransitTime
0,Edmonds,Kingston,05:00.0,06:47.0,27:47.0,21.0
1,Kingston,Edmonds,10:00.0,11:40.0,32:10.0,21.0
2,Southworth,NaN,15:00.0,NaN,NaN,NaN
3,Vashon,Southworth,15:00.0,16:40.0,27:40.0,11.0
4,Bainbridge,Colman,20:00.0,21:10.0,50:30.0,29.0
5,Colman,Bainbridge,25:00.0,26:17.0,54:32.0,28.0
6,Tahlequah,Pt. Defiance,25:00.0,27:04.0,37:33.0,10.0
7,Clinton,Mukilteo,30:00.0,32:52.0,43:52.0,11.0
8,Fauntleroy,Vashon,30:00.0,32:02.0,46:17.0,14.0
9,Keystone,Port Townsend,30:00.0,33:02.0,02:47.0,29.0

The first entry looks like it is the 12:05 pm sailing leaving Edmonds in <a href = "https://web.archive.org/web/20120409013013/http:/www.wsdot.wa.gov/ferries/pdf/Fall2000-All.pdf"> Fall 2000 Sailing Schedule </a>

<a href = "https://www.pythonforbeginners.com/basics/getting-user-input-from-the-keyboard"> Getting user input from the keyboard</a>

In [5]:
name = input("What is your name? ")

What is your name? Keith

In [6]:
print(name)

Keith