## Objective for this File:

This is the beginning of some Exploratory Data Analysis on the data I have recieved from WSDOT. I start by working with one file and exploring it then I create a method that I use to print out some statistics of an arbitrary WSDOT ferry dataset.

## File 1: September 5, 2001 - 2006

In [260]:
import pandas as pd
import numpy as np

laptop_file_path = 'C:/Users/Keith/Google Drive/H Drive Full Backup/Fall 2018/CS 495 - Senior Seminar/Ferry Data/P000413-090518_2001-2006.csv'
dataset = pd.read_csv(laptop_file_path)

In [261]:
dataset.head()

,departure_terminal,arrival_terminal,scheduled_departure,actual_departure,Actual_Arrival,TransitTime
0,Edmonds,Kingston,05:00.0,06:47.0,27:47.0,21.0
1,Kingston,Edmonds,10:00.0,11:40.0,32:10.0,21.0
2,Southworth,NaN,15:00.0,NaN,NaN,NaN
3,Vashon,Southworth,15:00.0,16:40.0,27:40.0,11.0
4,Bainbridge,Colman,20:00.0,21:10.0,50:30.0,29.0

In [262]:
dataset.shape

(903627, 6)

In [263]:
departure_terminals = dataset.departure_terminal.unique()
print(departure_terminals)

['Edmonds' 'Kingston' 'Southworth' 'Vashon' 'Bainbridge' 'Colman'
 'Tahlequah' 'Clinton' 'Fauntleroy' 'Keystone' 'Lopez' 'Mukilteo'
 'Port Townsend' 'Orcas' 'Shaw' 'Bremerton' 'Friday Harbor' 'Anacortes'
 'Colman PO' 'Pt. Defiance' 'Sidney B. C.']

In [264]:
arrival_terminals = dataset.arrival_terminal.unique()
print(arrival_terminals)

['Kingston' 'Edmonds' nan 'Southworth' 'Colman' 'Bainbridge'
 'Pt. Defiance' 'Mukilteo' 'Vashon' 'Port Townsend' 'Anacortes' 'Clinton'
 'Keystone' 'Shaw' 'Orcas' 'Fauntleroy' 'Lopez' 'Bremerton'
 'Friday Harbor' 'Colman PO' 'Tahlequah' 'Sidney B. C.'
 'Pier 48 - Standby' 'Fuel Dock - Pier 15' 'Eagle Harbor'
 'Todd Shipyard (1)' 'Dakota Creek']

<a href="https://stackoverflow.com/questions/25220975/find-the-non-intersecting-values-of-two-arrays"> Find the non-intersecting values of two arrays </a>

In [265]:
differences = list(set(departure_terminals).symmetric_difference(arrival_terminals))
differences

[nan,
 'Dakota Creek',
 'Todd Shipyard (1)',
 'Eagle Harbor',
 'Fuel Dock - Pier 15',
 'Pier 48 - Standby']

<a href = "https://stackoverflow.com/questions/21011777/how-can-i-remove-nan-from-list-python-numpy"> How can I remove Nan from list Python/NumPy</a>

In [266]:
differences_no_nan = [x for x in differences if str(x) != 'nan']
differences_no_nan

['Dakota Creek',
 'Todd Shipyard (1)',
 'Eagle Harbor',
 'Fuel Dock - Pier 15',
 'Pier 48 - Standby']

<a href = "https://stackoverflow.com/questions/12065885/filter-dataframe-rows-if-value-in-column-is-in-a-set-list-of-values/12065904"> Filter dataframe rows if value in column is in a set list of values [duplicate]</a>

In [267]:
dataset_differences_no_nan = dataset[dataset['arrival_terminal'].isin(differences_no_nan)]

In [268]:
dataset_differences_no_nan.head()

,departure_terminal,arrival_terminal,scheduled_departure,actual_departure,Actual_Arrival,TransitTime
748,Bremerton,Pier 48 - Standby,05:00.0,NaN,30:03.0,NaN
3385,Bremerton,Fuel Dock - Pier 15,30:00.0,NaN,05:02.0,NaN
9142,Colman PO,Fuel Dock - Pier 15,55:00.0,NaN,16:18.0,NaN
9530,Bremerton,Fuel Dock - Pier 15,30:00.0,NaN,04:01.0,NaN
13374,Bremerton,Pier 48 - Standby,10:00.0,NaN,53:16.0,NaN

In [269]:
dataset_differences_no_nan.shape

(242, 6)

In [270]:
dataset_differences = dataset[dataset['arrival_terminal'].isin(differences)]

In [271]:
dataset_differences.head()

,departure_terminal,arrival_terminal,scheduled_departure,actual_departure,Actual_Arrival,TransitTime
2,Southworth,NaN,15:00.0,NaN,NaN,NaN
14,Vashon,NaN,35:00.0,NaN,NaN,NaN
26,Fauntleroy,NaN,05:00.0,NaN,NaN,NaN
40,Vashon,NaN,40:00.0,NaN,NaN,NaN
49,Southworth,NaN,00:00.0,NaN,NaN,NaN

In [272]:
dataset_differences.shape

(45092, 6)

<a href = "https://stackoverflow.com/questions/39494988/in-pandas-how-to-select-the-rows-that-contains-nan"> In pandas, How to select the rows that contains NaN? [duplicate]</a>

In [273]:
dataset.loc[dataset['departure_terminal'].isnull()]

Empty DataFrame
Columns: [departure_terminal, arrival_terminal, scheduled_departure, actual_departure, Actual_Arrival, TransitTime]
Index: []

## Now I want to make this into a method.

The method will take in a DataFrame and return the number of departure_terminals or arrival_terminals that are unusable.

<a href = "https://stackoverflow.com/questions/952914/how-to-make-a-flat-list-out-of-list-of-lists">How to make a flat list out of list of lists?</a>

In [274]:
def unusable_terminals(dataset):
    departure_terminals = dataset.departure_terminal.unique()
    arrival_terminals = dataset.arrival_terminal.unique()
    
    differences = list(set(departure_terminals).symmetric_difference(arrival_terminals))
    differences_no_nan = [x for x in differences if str(x) != 'nan']
        
    unusable_terminals = [dataset.loc[dataset['arrival_terminal'].isnull()].index.values.tolist(),
                         dataset.loc[dataset['scheduled_departure'].isnull()].index.values.tolist(),
                         dataset[dataset['arrival_terminal'].isin(differences_no_nan)].index.values.tolist(),
                         dataset[dataset['arrival_terminal'].isin(differences)].index.values.tolist()]
    
    unusable_terminals = set([item for sublist in unusable_terminals for item in sublist])
    
    return """This dataset has %d rows.\n
            \t Null Departure Terminals: %d\n
            \t Null Scheduled Departures: %d\n
            \t Null Actual Departures: %d\n
            \t Null Actual Arrivals: %d\n
            \t Null or Negative Transit Times: %d\n
            \t Unusable Arrival Terminals (No Null): %d\n
            \t Unusable Arrival Terminals (With Null): %d\n
            %d/%d (%.3f%%) rows are unusable""" % (dataset.shape[0], 
                                                        dataset.loc[dataset['departure_terminal'].isnull()].shape[0],
                                                        dataset.loc[dataset['scheduled_departure'].isnull()].shape[0],
                                                        dataset.loc[dataset['actual_departure'].isnull()].shape[0],
                                                        dataset.loc[dataset['Actual_Arrival'].isnull()].shape[0],
                                                        dataset[dataset['TransitTime'] < 0].shape[0] + 
                                                            dataset.loc[dataset['TransitTime'].isnull()].shape[0],
                                                        dataset[dataset['arrival_terminal'].isin(differences_no_nan)].shape[0],
                                                        dataset[dataset['arrival_terminal'].isin(differences)].shape[0],
                                                        len(unusable_terminals),
                                                        dataset.shape[0],
                                                        ((len(unusable_terminals) / dataset.shape[0]) * 100))

### Here are the results for `P000413-090518_2001-2006.csv`

In [275]:
laptop_file_path = 'C:/Users/Keith/Google Drive/H Drive Full Backup/Fall 2018/CS 495 - Senior Seminar/Ferry Data/P000413-090518_2001-2006.csv'
dataset = pd.read_csv(laptop_file_path)
print(unusable_terminals(dataset))

This dataset has 903627 rows.

            	 Null Departure Terminals: 0

            	 Null Scheduled Departures: 0

            	 Null Actual Departures: 42676

            	 Null Actual Arrivals: 44850

            	 Null or Negative Transit Times: 47830

            	 Unusable Arrival Terminals (No Null): 242

            	 Unusable Arrival Terminals (With Null): 45092

            45092/903627 (4.990%) rows are unusable

### Here are the results for `P000413-090518_2007-2012.csv`

In [276]:
laptop_file_path = 'C:/Users/Keith/Google Drive/H Drive Full Backup/Fall 2018/CS 495 - Senior Seminar/Ferry Data/P000413-090518_2007-2012.csv'
dataset = pd.read_csv(laptop_file_path)
print(unusable_terminals(dataset))

This dataset has 985657 rows.

            	 Null Departure Terminals: 0

            	 Null Scheduled Departures: 0

            	 Null Actual Departures: 46411

            	 Null Actual Arrivals: 50224

            	 Null or Negative Transit Times: 53376

            	 Unusable Arrival Terminals (No Null): 123

            	 Unusable Arrival Terminals (With Null): 50347

            50347/985657 (5.108%) rows are unusable

### Here are the results for `P000413-090518_2013-2018-09-10.csv`

In [277]:
laptop_file_path = 'C:/Users/Keith/Google Drive/H Drive Full Backup/Fall 2018/CS 495 - Senior Seminar/Ferry Data/P000413-090518_2013-2018-09-10.csv'
dataset = pd.read_csv(laptop_file_path)
print(unusable_terminals(dataset))

This dataset has 932417 rows.

            	 Null Departure Terminals: 0

            	 Null Scheduled Departures: 0

            	 Null Actual Departures: 21607

            	 Null Actual Arrivals: 22618

            	 Null or Negative Transit Times: 24097

            	 Unusable Arrival Terminals (No Null): 140

            	 Unusable Arrival Terminals (With Null): 22756

            22756/932417 (2.441%) rows are unusable